# Ignore Visual Studio files
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore build directories
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/
ipch/
*.ipch
*.aps
*.pch
*.obj
*.idb
*.pdb
*.ilk
*.log
*.sbr
*.scc
*.tmp

# Ignore Visual Studio files
.vs/

# Ignore Visual Studio Code files
.vscode/
